@model FileUploadSystem.Web.ViewModels.Upload.FileViewModel

@{
    var buttonId = "_" + Model.Id;
    var modalId = "modal" + buttonId;
    var fileType = Model.Size == -1 ? "directory" : "file";
}
<a href="#" id="@buttonId" class="rename">Rename</a>
<!-- Modal HTML -->
<div id="@modalId" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            @using (Html.BeginForm("Rename", "Upload", new { fileId = Model.Id }, FormMethod.Post, new { role = "form" }))
            {
                @Html.AntiForgeryToken()
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Rename</h4>
                </div>
                <div class="modal-body">
                    <p>Rename this @fileType:</p>
                    <input id="newName" type="text" name="newName" value="@Model.Name" class="form-control" style="max-width: 100%;" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" value="Rename" class="btn btn-primary" />
                </div>
            }
        </div>
    </div>
</div> 
@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
